n8n/SmartApply - Telegram Reply Listener.json
{
  "name": "SmartApply - Telegram Reply Listener",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "SmartApply Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-chat-id",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "={{ $env.TELEGRAM_CHAT_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-chat",
      "name": "Only My Chat",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "answer-text",
              "name": "answer",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-answer",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SMARTAPPLY_API_URL }}/api/jobs/waiting",
        "options": {}
      },
      "id": "get-waiting",
      "name": "Get Waiting Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-waiting",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-waiting",
      "name": "Any Waiting?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task-id-from-waiting",
              "name": "task_id",
              "value": "={{ $json[0].task_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pick-task",
      "name": "Pick First Waiting Task",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SMARTAPPLY_API_URL }}/api/jobs/{{ $('Pick First Waiting Task').item.json.task_id }}/answer",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ answer: $('Extract Answer').item.json.answer }) }}",
        "options": {}
      },
      "id": "post-answer",
      "name": "Send Answer to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Answer delivered to agent! It will now resume.\n\n_Task: {{ $('Pick First Waiting Task').item.json.task_id }}_",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "confirm-telegram",
      "name": "Confirm via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "SmartApply Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "ℹ️ Got your message, but the agent isn't currently waiting for input. Message ignored.",
        "additionalFields": {}
      },
      "id": "no-waiting-reply",
      "name": "No Agent Waiting",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "SmartApply Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Message": {
      "main": [
        [{ "node": "Only My Chat", "type": "main", "index": 0 }]
      ]
    },
    "Only My Chat": {
      "main": [
        [{ "node": "Extract Answer", "type": "main", "index": 0 }]
      ]
    },
    "Extract Answer": {
      "main": [
        [{ "node": "Get Waiting Task", "type": "main", "index": 0 }]
      ]
    },
    "Get Waiting Task": {
      "main": [
        [{ "node": "Any Waiting?", "type": "main", "index": 0 }]
      ]
    },
    "Any Waiting?": {
      "main": [
        [{ "node": "Pick First Waiting Task", "type": "main", "index": 0 }],
        [{ "node": "No Agent Waiting", "type": "main", "index": 0 }]
      ]
    },
    "Pick First Waiting Task": {
      "main": [
        [{ "node": "Send Answer to Agent", "type": "main", "index": 0 }]
      ]
    },
    "Send Answer to Agent": {
      "main": [
        [{ "node": "Confirm via Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "createdAt": "2026-04-08T00:00:00.000Z", "updatedAt": "2026-04-08T00:00:00.000Z", "id": "smartapply", "name": "SmartApply" }
  ]
}
