n8n/SmartApply - Telegram Reply Listener.json
{
  "name": "SmartApply - Telegram Reply Listener",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-640, 0],
      "credentials": {
        "telegramApi": {
          "id": "dJYdBCtto72sPTe9",
          "name": "Smart Apply Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a1b2c3d4-cond-0001",
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "1319914424",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a1b2c3d4-cond-0002",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Only My Chat",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [-416, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-asgn-0001",
              "name": "answer",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-192, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://172.18.0.1:8000/api/jobs/waiting",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Get Waiting Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [32, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst waiting = items[0].json;\n\n// waiting is the JSON array from /api/jobs/waiting\nif (!Array.isArray(waiting) || waiting.length === 0) {\n  // Return a sentinel so downstream If node can route to \"no waiting\" branch\n  return [{ json: { has_waiting: false, task_id: null } }];\n}\n\nconst first = waiting[0];\nreturn [{ json: { has_waiting: true, task_id: first.task_id, question: first.question } }];\n"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Pick Waiting Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a1b2c3d4-cond-0003",
              "leftValue": "={{ $json.has_waiting }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Any Waiting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.18.0.1:8000/api/jobs/{{ $json.task_id }}/answer",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"answer\": \"{{ $('Extract Answer').item.json.answer }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Send Answer to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, -112]
    },
    {
      "parameters": {
        "chatId": "1319914424",
        "text": "=✅ *Answer delivered!* The agent will now resume.\n\n🆔 Task: `{{ $('Pick Waiting Task').item.json.task_id }}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Confirm via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [928, -112],
      "credentials": {
        "telegramApi": {
          "id": "dJYdBCtto72sPTe9",
          "name": "Smart Apply Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1319914424",
        "text": "ℹ️ Got your message, but the agent isn't currently waiting for input. Your message was ignored.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "No Agent Waiting",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [704, 112],
      "credentials": {
        "telegramApi": {
          "id": "dJYdBCtto72sPTe9",
          "name": "Smart Apply Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Message": {
      "main": [
        [{ "node": "Only My Chat", "type": "main", "index": 0 }]
      ]
    },
    "Only My Chat": {
      "main": [
        [{ "node": "Extract Answer", "type": "main", "index": 0 }]
      ]
    },
    "Extract Answer": {
      "main": [
        [{ "node": "Get Waiting Task", "type": "main", "index": 0 }]
      ]
    },
    "Get Waiting Task": {
      "main": [
        [{ "node": "Pick Waiting Task", "type": "main", "index": 0 }]
      ]
    },
    "Pick Waiting Task": {
      "main": [
        [{ "node": "Any Waiting?", "type": "main", "index": 0 }]
      ]
    },
    "Any Waiting?": {
      "main": [
        [{ "node": "Send Answer to Agent", "type": "main", "index": 0 }],
        [{ "node": "No Agent Waiting", "type": "main", "index": 0 }]
      ]
    },
    "Send Answer to Agent": {
      "main": [
        [{ "node": "Confirm via Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
