n8n/SmartApply - Application Logger.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartapply-log",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "083f1462-0e3f-4386-96c9-c6cc2dbfc3af",
      "name": "Receive Log Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        80
      ],
      "webhookId": "smartapply-log",
      "notes": "Receives application results from SmartApply.\nExpected body: { \"url\": \"...\", \"company\": \"...\", \"title\": \"...\", \"status\": \"success|failed|partial\", \"details\": \"...\", \"fields_filled\": 0, \"issues\": [] }"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "id": "url",
              "name": "url",
              "type": "string",
              "value": "={{ $json.body.url || '' }}"
            },
            {
              "id": "company",
              "name": "company",
              "type": "string",
              "value": "={{ $json.body.company || 'Unknown' }}"
            },
            {
              "id": "title",
              "name": "title",
              "type": "string",
              "value": "={{ $json.body.title || 'Unknown' }}"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "={{ $json.body.status || 'unknown' }}"
            },
            {
              "id": "details",
              "name": "details",
              "type": "string",
              "value": "={{ $json.body.details || '' }}"
            },
            {
              "id": "fields_filled",
              "name": "fields_filled",
              "type": "number",
              "value": "={{ $json.body.fields_filled || 0 }}"
            },
            {
              "id": "issues",
              "name": "issues",
              "type": "string",
              "value": "={{ ($json.body.issues || []).join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df3477f3-f640-4f42-ad02-7d0ea9193e81",
      "name": "Prepare Row Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        80
      ],
      "notes": "Normalizes the incoming data into a clean row for the spreadsheet."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ScwX6Qa1UJCRFL083FEnCwlunB2HgwVg3psIVYTyr8M",
          "mode": "list",
          "cachedResultName": "Smart Apply",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ScwX6Qa1UJCRFL083FEnCwlunB2HgwVg3psIVYTyr8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Application Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ScwX6Qa1UJCRFL083FEnCwlunB2HgwVg3psIVYTyr8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ba119311-f494-4871-b222-bba118f2e6dc",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -512,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WaMY1APLGlXdINip",
          "name": "TVE23CS131"
        }
      },
      "notes": "Appends a new row to the 'Application Log' sheet.\nCreate the sheet with columns: timestamp, url, company, title, status, details, fields_filled, issues"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Prepare Row Data').item.json.status }}",
              "rightValue": "success",
              "id": "41cecd0a-fadb-4ad4-b0c3-7f3edbea89df"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "2f1383d3-d55a-4aa1-bfab-006210d1bb18",
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        80
      ],
      "notes": "Only increment counter and send summary for successful applications."
    },
    {
      "parameters": {
        "jsCode": "// Read current stats from previous executions\nconst today = new Date().toISOString().split('T')[0];\nconst company = $('Prepare Row Data').first().json.company;\nconst title = $('Prepare Row Data').first().json.title;\n\nreturn [{\n  json: {\n    message: `📊 Application logged:\\n• ${title} at ${company}\\n• Status: SUCCESS\\n• Date: ${today}`,\n    success: true\n  }\n}];"
      },
      "id": "9ec4e7ca-f9b4-4610-8def-c6feb8aceb81",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "notes": "Generates a summary message for the successful application."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"logged\": true, \"status\": \"{{ $('Prepare Row Data').item.json.status }}\"}",
        "options": {}
      },
      "id": "312294dc-9f31-43c0-b0fc-3b1a5b8aaea9",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        384,
        80
      ],
      "notes": "Returns HTTP 200 to acknowledge receipt."
    },
    {
      "parameters": {
        "chatId": "1319914424",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        0
      ],
      "id": "8e875f97-a2d7-470e-9d2a-9f8ad123cc7e",
      "name": "Send a text message",
      "webhookId": "bbde7ec7-4ef7-41c6-8289-910888457684",
      "credentials": {
        "telegramApi": {
          "id": "dJYdBCtto72sPTe9",
          "name": "Smart Apply Bot"
        }
      }
    }
  ],
  "connections": {
    "Receive Log Entry": {
      "main": [
        [
          {
            "node": "Prepare Row Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Row Data": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}