n8n/SmartApply - Telegram QA.json
{
  "name": "SmartApply - Telegram Q&A Handler",
  "nodes": [
    {
      "parameters": {
        "path": "smartapply-question",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-question",
      "name": "Question Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "smartapply-question"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-task-id",
              "name": "task_id",
              "value": "={{ $json.body.task_id }}",
              "type": "string"
            },
            {
              "id": "set-question",
              "name": "question",
              "value": "={{ $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🤖 *SmartApply Agent needs your input!*\n\n❓ *Question:*\n{{ $json.question }}\n\n🆔 Task: `{{ $json.task_id }}`\n\n💬 Reply to this message with your answer.\n_Your reply will be sent back to the agent automatically._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-ask",
      "name": "Send Question via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "SmartApply Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "wait-node",
      "name": "Wait for Reply (1 min poll)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 300],
      "webhookId": "smartapply-resume"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK — question sent to Telegram",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Acknowledge Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 480]
    }
  ],
  "connections": {
    "Question Webhook": {
      "main": [
        [
          { "node": "Extract Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          { "node": "Send Question via Telegram", "type": "main", "index": 0 },
          { "node": "Acknowledge Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Question via Telegram": {
      "main": [
        [
          { "node": "Wait for Reply (1 min poll)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "createdAt": "2026-04-08T00:00:00.000Z", "updatedAt": "2026-04-08T00:00:00.000Z", "id": "smartapply", "name": "SmartApply" }
  ]
}
