n8n/workflows/scheduled_profile_sync.json
{
    "name": "SmartApply - Profile Sync (Trigger)",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyX",
                            "value": 15,
                            "unit": "minutes"
                        }
                    ]
                },
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_SPREADSHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "profileData",
                    "mode": "list",
                    "cachedResultName": "profileData"
                },
                "event": "rowUpdated",
                "options": {}
            },
            "id": "sheet-trigger",
            "name": "On Profile Update",
            "type": "n8n-nodes-base.googleSheetsTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "credentials": {
                "googleSheetsTriggerOAuth2Api": {
                    "id": "YOUR_CREDENTIALS_ID",
                    "name": "Google Sheets Trigger Account"
                }
            },
            "notes": "Triggers when rows are updated in the profileData sheet."
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_SPREADSHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "profileData",
                    "mode": "list",
                    "cachedResultName": "profileData"
                },
                "options": {}
            },
            "id": "read-all-profile",
            "name": "Read Full Profile",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                440,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_CREDENTIALS_ID",
                    "name": "Google Sheets Account"
                }
            },
            "notes": "Reads all rows from the profileData sheet to build the full profile JSON."
        },
        {
            "parameters": {
                "jsCode": "const profile = {};\nfor (const item of $input.all()) {\n    if (item.json.Key && item.json.Value) {\n        profile[item.json.Key] = item.json.Value;\n    }\n}\nreturn [{ json: { profile: profile } }];"
            },
            "id": "build-json",
            "name": "Build Profile JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                300
            ],
            "notes": "Converts rows into a single key-value JSON object."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SMARTAPPLY_API_URL || 'http://localhost:8000' }}/profile/ingest",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.profile) }}",
                "options": {}
            },
            "id": "send-to-api",
            "name": "Send to SmartApply API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                300
            ],
            "notes": "POSTs the profile JSON directly to the SmartApply backend."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"✅ *Profile Auto-Synced!*\\nDetected changes in your Google Sheet and pushed them to SmartApply.\\n\\nUpdated fields: {{ Object.keys($('Build Profile JSON').item.json.profile).length }}\",\n  \"parse_mode\": \"Markdown\"\n}",
                "options": {}
            },
            "id": "notify-success",
            "name": "Notify Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"❌ Profile sync FAILED!\\n\\nCould not send data to SmartApply API.\",\n  \"parse_mode\": \"Markdown\"\n}",
                "options": {}
            },
            "id": "notify-failure",
            "name": "Notify Failure",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                420
            ]
        }
    ],
    "connections": {
        "On Profile Update": {
            "main": [
                [
                    {
                        "node": "Read Full Profile",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Full Profile": {
            "main": [
                [
                    {
                        "node": "Build Profile JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Profile JSON": {
            "main": [
                [
                    {
                        "node": "Send to SmartApply API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to SmartApply API": {
            "main": [
                [
                    {
                        "node": "Notify Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notify Failure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "tags": [
        {
            "name": "smart-apply"
        },
        {
            "name": "profile-sync"
        }
    ]
}